# Lots of junk goes in here.
/caches/
/backups/

# Top secret stuff!
/link/.ssh/authorized_keys
/link/.ssh/id_*
/link/.ssh/known_hosts

# Don't commit Vim plugins, vim-plug will install them.
/link/.vim/plugged

# Don't commit rbenv temp files.
/link/.rbenv/shims/
/link/.rbenv/versions/
/link/.rbenv/version

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*

link/.emacs.d/elpa/*
!link/.emacs.d/elpa/.gitkeep
!link/.emacs.d/cl-lib
!link/.emacs.d/evenhold-theme.el
link/.emacs.d/.mc-lists.el
link/.emacs.d/ac-comphist.dat
